
@{
    Layout = null;
}

<!----------------------------------------------------------------------------------------------------->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>KnightOne Bootstrap Template - Index</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/Content/img/favicon.png" rel="icon">
    <link href="/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/Content/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Content/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/Content/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/Content/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/Content/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: KnightOne - v2.0.0
    * Template URL: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-xl-9 d-flex align-items-center justify-content-between">
                    <h1 class="logo"><a href="#Volver">Inventarios TEC</a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li class="active" ><a href="#hero")">Inicio</a></li>
                            <li><a href="@Url.Action("Login","Account")">Iniciar Sesion</a></li>
                            <li><a href="@Url.Action("Register","Account")">Registrarse</a></li>
                            <li><a href="#about">Acerca de</a></li>
                            <li><a href="#contact">Contactanos</a></li>

                        </ul>
                    </nav><!-- .nav-menu -->

                  
                </div>
            </div>

        </div>
    </header><!-- End Header -->


    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <h1>INVENTARIOS TEC</h1> 

                    <h2>Tu controlador de inventario de confianza</h2>
                    
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>Acerca de Nosostros</h2>
                    <p>
                        Somos una pagina enfocada en llevar la buena gestion y control sobre tus inventarios, desde los productos hasta 
                        los proveedores registrados con los que cuentes.
                        Esperamos ser tu primera opcion en cuanto a control de inventario refiere, te esperamos!.
                    </p>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            Aun no te convencemos?, Entonces revisa nuestros objetivos y capacidades que te ofrecemos:
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Control de Registro de Productos</li>
                            <li><i class="ri-check-double-line"></i> Control de Reigistro de Proveedores</li>
                            <li><i class="ri-check-double-line"></i> Acceso total en cualquier momento</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                           Nuestra pagina seguira en desarrollo para poder ofrecer una gran cantidad de opciones que te ayuden
                            a mejorar la eficiencia de tu control de registros para darte una mejor experiencia.
                        </p>
                        <a href="@Url.Action("Register","Account")" class="btn-learn-more">Quiero Registrarme</a>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->

        <hr />
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contactanos</h2>
                    <p>Te gustaria tener contacto directo con nostros y platicar sobre posibles actualizaciones para tu control? Llena el formulario para comunicarnos contigo
                    o si no usa nuestra redes sociales para hablar con nosotros.</p>
                </div>
            </div>

            <div class="container">

                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="ri-map-pin-line"></i>
                                <h4>Ubicacion:</h4>
                                <p>22781 Calzada Tecnologico, Tijuana B.C, Mexico</p>
                            </div>

                            <div class="email">
                                <i class="ri-mail-line"></i>
                                <h4>Correo Eletronico:</h4>
                                <p>contactoTEC@hotmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="ri-phone-line"></i>
                                <h4>Telefono:</h4>
                                <p>+52 (664) 235-89-90</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Ingresa tu Nombre Completo" />
                                    <div class="validate"></div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Correo Electronico" data-rule="email" data-msg="Favor de Ingresar un Email Valido" />
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Tema" data-rule="minlen:4" data-msg="Ingresa el Tema del Mensaje" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Escribe tu mensaje" placeholder="Escribenos Aqui"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Enviando...</div>
                                <div class="error-message">Error al Enviar</div>
                                <div class="sent-message">Tu Mensaje ha sido enviado!, en un momento nos comunicamos contigo. Gracias!</div>
                            </div>
                            <div class="text-center"><button type="submit">Enviar</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->


    </main><!-- End #main -->





    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">

            <h3>Siguenos en Nuestras Redes Sociales</h3>
         
            <div class="social-links">
                <a href="https://www.twitter.com" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.Facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.Instagram.com" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>Inventarios TEC</span></strong>. Todos los Derechos Reservados
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
                Designed by Varguez Carrillo Felipe Rolando</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

    <!-- Vendor JS Files -->
    <script src="/Content/vendor/jquery/jquery.min.js"></script>
    <script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/Content/php-email-form/validate.js"></script>
    <script src="/Content/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/Content/vendor/counterup/counterup.min.js"></script>
    <script src="/Content/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/Content/vendor/venobox/venobox.min.js"></script>
    <script src="/Content/vendor/owl.carousel/owl.carousel.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/Content/js/main.js"></script>

</body>

</html>